<div class="container">
    <h2>Dodaj opinię</h2>
    <form [formGroup]="opinion">
          <label for=" opinionname">Nazwa wycieczki</label>
          <input id="opinionname" type="text" formControlName="name" /><br>
          <label for="nick">Nick</label>
          <input id="nick" type="text" formControlName="nick" /><br>
          <label for="date">Data zakupu</label>
          <input id="date" type="date" formControlName="date" /><br>
          <label for="opiniontext">Treść recenzji</label><br>
          <textarea id="opiniontext" type="text" formControlName="opiniontext" cols=100 rows="10" ></textarea><br>
        <button (click)="submit()">Dodaj</button>
      </form>
      <div *ngFor="let errorItem of error" class="ShowError">
        {{errorItem}}
      </div>
</div>
