<div class="container">
    <div class="header">BIURO PODRÓZY HELLOW</div>
    <div class="logo"></div>
    <div class="line"></div>
    <div class="text">Kim jestesmy?
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus velit consequatur iure ex praesentium dignissimos nam similique vitae rem veritatis in dolorum dolores blanditiis possimus, optio provident quis incidunt perspiciatis?
    </div>
    <div class="phone">
        <p>Skontaktuj sie  z nami: <br>
        987 797 127 <br>
    </div>
    <div class="phone">
        <p>Email: <br> <br>
        travelhellow@gmail.com</p>
    </div>
    <div class="phone">Adres: Świętego Filipa 30/7</div>
    <div class="text">Mapa dojazdu:</div>
    <div class="maps">
    </div>
</div>



