.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    width: 99,2vw;

}
.header{
    font-size: 40px;
}
.value{
    margin-top: 10px;
    font-size: 20px;
}